export AWS_PROFILE="default"
export AWS_REGION="us-west-2"
export AWS_DEFAULT_REGION="us-west-2"
export AWS_PAGER=""
export AZURE_TENANT_ID="<entra-tenant-id>"
export AZURE_SUBSCRIPTION_ID="<azure-subscription-id>"